<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About - Gibjohn Tutoring</title>
  <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap" rel="stylesheet">
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="about.html" class="active">About</a></li>
    <li style="float:right" class="gibjohn"><img src="static/gibjohn.png" height="42px" alt=""></li>
  </ul>

  <h1>About Gibjohn Tutoring</h1>
  <p>Welcome to Gibjohn Tutoring — where learning becomes personal...</p>
</body>
</html>
