<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uh oh!</title>
    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap" rel="stylesheet">
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="profile.html">Profile</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="about.html">About</a></li>
    <li style="float:right" class="gibjohn"><img src="static/gibjohn.png" height="42px" alt=""></li>
  </ul>

<p style="font-size:15em"> You got error 404!</p>

<audio autoplay loop src="https://open.spotify.com/embed/track/1TEZWG1FdjzDdercCguTwj?utm_source=generator"></audio>
<img src="static/404.png" style="width:100vw; height:100vh">
</body>
</html>