<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gibjohn Tutoring</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap" rel="stylesheet">

    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <ul>
        <li><a href="" class="active">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li style="float:right" class="gibjohn">
            <img src="static/gibjohn.png" height="42px" width="auto" alt="Gibjohn Logo">
        </li>
    </ul>

<div>
    <img src="static/gibjojh.jpg" style="width:100vw; height:2vw">
    <p>
        i am gibjohn and i am your tutor <br> <br> please give me your money
    </p>
</div>
</body>
</html>
